@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Young+Serif&display=swap');
:root {
       --primary-color: #3E78B2;
       --secondary-color: #54DEFD;
       --accent1-color: #ECE8EF;
       --accent2-color: #51355A;

       --heading-font: 'young serif', serif;
       --paragraph-font: roboto, serif;
       --nav-background-color: #000000;
       --nav-link-color: #3E78B2;
       --nav-hover-link-color: white;
       --nav-hover-background-color: #54fd5c;

}

h1, h2 {
       font-family: var(--heading-font);
       color: var(--primary-color);
}

p {
       font-family: var(--paragraph-font);
       color: var(--nav-background-color);
}

body {
       width: 900px;
}

sociallinks {
       text-decoration: none;
       color: var(--accent2-color);
       background-color: bisque;
}
.hero img {
       width: 100%;
       height: auto;
}
.hero {
       position: relative;
}


h1 {
       position: absolute;
       margin-top: 1px;
       top: 20px;
       left: 0;
       right: 0;
       text-align: center;

}

article {
       position: absolute;
       background-color: var(--nav-hover-background-color);
       top: 350px;
       margin: 20px;
       opacity: 0.6;
       padding: 20px;
}
.hero article img {
              float: right;
              margin-left: 15px;
              width: 150px;
}
footer p {
       color: black;
}

section-text {
       margin: 1px;
}
section-image {
       margin: 1px;
}